/* BASIC STYLES HERE */

body {
    background-position: center;
    background-size: cover;
}

.quote-wrapper {}

.quote-body {
    visibility: hidden;
    opacity: 0;
    transition: ease 1s;

    backdrop-filter: blur(20px);
    border: 2px solid white;
    border-radius: 5px;
    padding: .5em;
    background-color: rgba(22, 19, 28, 0.59);
}

.quote-header {
    cursor: pointer;
}

.quote-header+.quote-body {
    visibility: visible;
    opacity: 1;
}