/* BASIC STYLES HERE */

body {
    background-position: center;
    background-size: cover;
}

.quote-wrapper {}

.quote-author {
    visibility: hidden;
    opacity: 0;
    transition: ease 1s;

}

.quote-content {
    cursor: pointer;
}

.quote-content:hover+.quote-author {
    visibility: visible;
    opacity: 1;
}

.weatherCard {

    border: 2px solid white;
    border-radius: 10px;

    background-color: rgba(22, 19, 28, 0.59);
}